<div class="statsContainer">
  <div class="statsContainer__content">
    <h3 class="title-3 title-3--label">Initial Stats</h3>
    <div class="statsContainer__content__table">
      <p class="statsContainer__content__row">
        <span>⚔️Attack</span>
        <span>{{ guild()?.characteristics?.atk }}</span>
      </p>
      <p class="statsContainer__content__row">
        <span>🛡️Defense</span>
        <span>{{ guild()?.characteristics?.def }}</span>
      </p>
      <p class="statsContainer__content__row">
        <span>💨Speed</span>
        <span>{{ guild()?.characteristics?.speed }}</span>
      </p>
      <p class="statsContainer__content__row">
        <span>❤️Max HP</span>
        <span>{{ guild()?.characteristics?.hp }}</span>
      </p>
      <p class="statsContainer__content__row">
        <span>🩵Max MP</span>
        <span>{{ guild()?.characteristics?.mana }}</span>
      </p>
    </div>
  </div>
</div>
