@use '../../../variables' as v;
@use '../../../mixins' as m;

:host {
  width: 100%;
  opacity: 0;
  margin-top: -3.33rem;
  transform: translateY(1rem);
  overflow: hidden;
  transition: 250ms ease-in-out;
  transition-property: opacity, transform, margin;

  &.open {
    opacity: 1;
    margin-top: 0;
    transform: translateY(0);

    .statsContainer {
      height: 150px;
    }
  }

  .statsContainer {
    position: relative;
    @include m.flex($gap: 0.5rem 0);
    padding: 1.25rem 1rem 1rem;
    margin-inline: 0.5rem;
    height: 0;
    overflow: hidden;
    border: 1px solid rgb(255 255 255 / 0.08);
    border-radius: v.$radiusSm;
    background-color: hsl(0 0% 0% / 0.2);
    transition: height 300ms ease-out;

    .statRow {
      @include m.flex(row, $justify: space-between);
      width: 100%;
    }
  }
}
