<div>
  <div>
    <h3>Initial Stats</h3>
    <div>
      <p>
        <span>⚔️Attack</span>
        <span>{{ guild().characteristics.atk }}</span>
      </p>
      <p>
        <span>🛡️Defense</span>
        <span>{{ guild().characteristics.def }}</span>
      </p>
      <p>
        <span>💨Speed</span>
        <span>{{ guild().characteristics.speed }}</span>
      </p>
      <p>
        <span>❤️Max HP</span>
        <span>{{ guild().characteristics.hp }}</span>
      </p>
      <p>
        <span>🩵Max MP</span>
        <span>{{ guild().characteristics.mana }}</span>
      </p>
    </div>
  </div>
</div>
