@use '../../../variables' as v;
@use '../../../mixins' as m;

:host {
  height: 328px;
}

.interactContainer {
  width: 100%;
  backdrop-filter: brightness(0.66);
  padding: 2rem 1rem;
  border-radius: v.$radiusMd;
  box-shadow:
    0 0 0 1px rgb(255 255 255 / 0.08),
    0 2px 4px 0 rgb(0 0 0 / 0.5);
  overflow: hidden;
  transform-origin: bottom;
  transition: 250ms ease-in-out;
  transition-property: box-shadow, transform, background;

  &:hover {
    box-shadow:
      0 0 0 1px rgb(255 255 255 / 0.08),
      0 6px 8px 3px rgb(0 0 0 / 0.25);
    transform: translateY(-4px);
    // background-color: v.$InteractionHover;
  }

  &.selected {
    // box-shadow:
    //   0 0 0 2px v.$InteractionPrimary,
    //   0 2px 8px 2px rgb(0 0 0 / 0.2);
    // transform: scale(1.025);
    // background-color: v.$InteractionSelected;

    .card {
      margin-top: -5rem;

      app-char-stats {
        margin-top: -2rem;
      }

      .labels-container {
        height: 0;
        opacity: 0;
      }

      h1,
      p {
        font-size: 0;
        opacity: 0;
      }
    }
  }

  .card {
    @include m.flex($gap: 1rem 0);
    height: 100%;
    transition: margin 250ms ease-in-out;

    app-char-stats {
      transition: margin 250ms ease-in-out;
    }

    .guild-icon {
      font-size: 3.33rem;
      margin-block: 1rem;
    }

    h4 {
      font:
        600 1.25rem/1.15 'Overlock SC',
        sans-serif;
    }

    p {
      font-size: 0.9rem;
      opacity: 0.66;
    }

    h1,
    p {
      transition: 250ms ease-in-out;
      transition-property: opacity, font-size;
    }

    .labels-container {
      @include m.flex(row, wrap, center, $gap: 0.5rem);
      height: 100%;
      transition: 250ms ease-in-out;
      transition-property: opacity, height;

      span {
        // color: v.$HeadingSecondary;
        font-size: 0.9rem;
        background-color: color-mix(in srgb, transparent 75%, v.$headingPrimary);
        padding: 0.33rem 1rem;
        border: 1px solid rgb(255 255 255 / 0.08);
        border-radius: 100em;
      }
    }
  }
}

.btnContainer {
  @include m.btn;
  width: 100%;
  height: 100%;
  border-radius: v.$radiusSm;
  border-width: 2px;
  background-color: color-mix(in oklch, v.$accentColor, transparent 95%);
  backdrop-filter: contrast(1.15) brightness(1.1) blur(44px);
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.25);
  overflow: hidden;
  transition: 200ms ease;
  transition-property: background-color, box-shadow, border, transform;

  &:hover {
    background-color: color-mix(in oklch, v.$accentColor, transparent 80%);
    transform: translateY(-5px);
  }

  &.selected {
    transform: scale(1.025);
    border-color: v.$accentColor;
    box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);
  }

  .card {
    position: relative;
    @include m.flex($gap: 1rem 0);

    #guild-icon {
      font-size: 3.33rem;
    }

    #guild-name {
      font: 600 1.25rem/1 v.$fontSubtitle;
    }

    #guild-description {
      font-weight: 200;
      font-size: 0.85rem;
    }

    #guild-features {
      @include m.flex(row, wrap, center, $gap: 0.5rem);
      font-weight: 300;
      font-size: 0.75rem;
      color: v.$headingSecondary;

      .feature {
        position: relative;
        padding: 0.25rem 0.5rem;
        background-color: color-mix(in oklch, v.$accentColor, transparent);
        border-radius: v.$radiusRound;
        border: 1px solid rgb(255 255 255 / 0.08);
      }
    }
  }
}
