<div class="quickStats">
  <span class="playerNickname">{{ player().icon }}{{ player().nickname }}</span>
  <div>
    <span class="playerLevel">{{ player().lvl }}</span>
    <span class="playerMoney">£{{ player().money }}</span>
  </div>
</div>
<nav class="gameMenu">
  <ul class="menuComponents">
    <li class="menuComponents__item">
      <button
        class="menuComponents__button btnLink"
        routerLinkActive="active"
        routerLink="/game/map">
        🗺️Map
      </button>
    </li>
    <li class="menuComponents__item">
      <button
        class="menuComponents__button btnLink"
        routerLinkActive="active"
        routerLink="/game/city">
        🏢City
      </button>
    </li>
    <li class="menuComponents__item">
      <button
        class="menuComponents__button btnLink"
        routerLinkActive="active"
        routerLink="/game/inventory">
        🎒Inventory
      </button>
    </li>
  </ul>
</nav>
<!-- <div>
  <div>
    <button class="btnUtility btnThin">Save</button>
    <button class="btnUtility btnThin">Quit</button>
  </div>
</div> -->
