<nav>
  <h1 routerLink="">⚔️Tails of Angular</h1>
  <ul>
    <li routerLinkActive="active" routerLink="/game/{{ player().nickname }}/map">🗺️Carte</li>
    <li routerLinkActive="active" routerLink="/game/{{ player().nickname }}/city">🏢Ville</li>
    <li routerLinkActive="active" routerLink="/game/{{ player().nickname }}/inventory">
      🎒Inventaire
    </li>
  </ul>
</nav>
<div>
  <div>
    <span>💰{{ player().money }}</span>
    <span>Niv.{{ player().lvl }}</span>
    <span>{{ player().nickname }}</span>
  </div>
  <div>
    <button>Sauvegarder</button>
    <button>Quitter</button>
  </div>
</div>
