@use '../../../mixins' as m;
@use '../../../variables' as v;

:host {
  @include m.flex(row, $justify: space-between);
  width: 100vw;
  // background-color: hsl(0 0% 0% / 0.2);
  // border: 1px solid hsl(0 0% 100% / 0.08);
  // border-radius: v.$radiusMd;
  // box-shadow: 0 4px 12px rgb(0 0 0 / 0.2);
  // backdrop-filter: contrast(1.15) brightness(1.1) blur(44px);
  padding: 0.5rem 1rem;

  & > * {
    @include m.flex(row, $gap: 0 1rem);

    & > * {
      @include m.flex(row, $gap: 0 0.5rem);
    }
  }

  nav {
    position: relative;

    h1 {
      margin-block: 1rem;
    }

    ul {
      position: relative;
      height: 100%;

      li {
        position: relative;
        @include m.flex(row, $justify: center);
      }
    }
  }

  .headerMenu {
    &__item--stats {
      font-weight: 600;
      letter-spacing: 0.025rem;

      & > #money {
        color: #e6eb19;
      }

      & > #level {
        color: #4ba0e6;
      }
    }

    .headerMenu__item--actions__item {
      padding: 0.33rem 0.66rem;
      border-radius: 0.4rem;

      &:first-child {
        background-color: #159915;
      }

      &:last-child {
        background-color: #dd2727;
      }
    }
  }
}

.quickStats {
  @include m.flex(row, wrap, $gap: 0 0.5rem);
  backdrop-filter: contrast(1.15) brightness(1.1) blur(44px);
  padding: 0.25rem 0.5rem;
  background-color: hsl(0 0% 0% / 0.2);
  border: 1px solid hsl(0 0% 100% / 0.08);
  border-radius: v.$radiusRound;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 0.2);

  & > div {
    position: relative;
    // background-color: v.$moneyColor;
    // border-radius: v.$radiusRound;
    // padding: 0.5rem 0.66rem;

    & > span:first-child {
      @include m.flex($justify: center);
      border-radius: v.$radiusRound;
      position: relative;
      aspect-ratio: 1;
      width: 32px;
      height: auto;
      background-color: v.$accentColor;
      box-shadow: 0 0 4px 0 rgb(0 0 0/0.5);
    }

    & > span:last-child {
      @include m.flex($justify: center);
      padding-inline: 0.66rem;
      background-color: v.$moneyColor;
      height: 28px;
      margin-left: -1rem;
      border-radius: 0 v.$radiusRound v.$radiusRound 0;
    }
  }
}

.gameMenu {
  backdrop-filter: contrast(1.15) brightness(1.1) blur(44px);
  padding: 0.25rem;
  background-color: hsl(0 0% 0% / 0.2);
  border: 1px solid hsl(0 0% 100% / 0.08);
  border-radius: v.$radiusRound;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 0.2);

  .menuComponents {
    @include m.flex(row, wrap, $gap: 0 0.5rem);

    &__item {
      border-radius: v.$radiusRound;

      &:has(> .active) {
        background-color: v.$accentColor;
      }

      button {
        height: 32px;
        padding-inline: 0.5rem;
      }
    }
  }
}
