@use '../../../mixins' as m;
@use '../../../variables' as v;

:host {
  @include m.flex(row, $justify: space-between);
  width: 100%;
  background-color: hsl(0 0% 0% / 0.2);
  border: 1px solid hsl(0 0% 100% / 0.08);
  border-radius: v.$radiusMd;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.2);
  backdrop-filter: contrast(1.15) brightness(1.1) blur(44px);
  padding-inline: 1.5rem;

  & > * {
    @include m.flex(row, $gap: 0 1rem);

    & > * {
      @include m.flex(row, $gap: 0 0.5rem);
    }
  }

  nav {
    position: relative;

    h1 {
      margin-block: 1rem;
    }

    ul {
      position: relative;
      height: 100%;

      li {
        position: relative;
        @include m.flex(row, $justify: center);

        &::before {
          content: '';
          pointer-events: none;
          position: absolute;
          bottom: 0;
          opacity: 0;
          border-radius: v.$radiusRound;
          width: 24px;
          height: 2px;
          background-color: v.$accentColor;
          z-index: -1;
          border: 1px solid hsl(0 0% 100% / 0.16);
          transition: 250ms ease-out;
          transition-property: bottom, opacity;
        }

        &:has(> .active)::before {
          opacity: 1;
          bottom: -0.5rem;
        }
      }
    }
  }

  .headerMenu {
    &__item--stats {
      font-weight: 600;
      letter-spacing: 0.025rem;

      & > #money {
        color: #e6eb19;
      }

      & > #level {
        color: #4ba0e6;
      }
    }

    .headerMenu__item--actions__item {
      padding: 0.33rem 0.66rem;
      border-radius: 0.4rem;

      &:first-child {
        background-color: #159915;
      }

      &:last-child {
        background-color: #dd2727;
      }
    }
  }
}
