<hgroup>
  <div>
    <h1>{{ iconByClass[player().type] }}</h1>
    <div>
      <h3>{{ player().nickname }}</h3>
      <span>{{ player().type | titlecase }} - Level {{ player().lvl }}</span>
    </div>
  </div>
  <span class="moneyCounter">💰{{ player().money }}</span>
</hgroup>
<div class="stats">
  <label for="hp-stats">
    <span>HP</span>
    <span>{{ player().currentHp }}/{{ player().characteristics.hp }}</span>
  </label>
  <progress
    id="hp-stats"
    [max]="player().characteristics.hp"
    [value]="player().currentHp"></progress>
  <label for="mp-stats">
    <span>MP</span>
    <span>{{ player().currentMp }}/{{ player().characteristics.mana }}</span>
  </label>
  <progress
    id="mp-stats"
    [max]="player().characteristics.mana"
    [value]="player().currentMp"></progress>
  <label for="exp-stats">
    <span>EXP</span>
    <span>{{ player().currentXp }}/{{ player().lvl * 100 }}</span>
  </label>
  <progress id="exp-stats" [max]="player().lvl * 100" [value]="player().currentXp"></progress>
</div>
