<hgroup>
  <div>
    <h1>{{ iconByClass[player().type] }}</h1>
    <div>
      <h3>{{ player().nickname }}</h3>
      <span>{{ player().type | titlecase }} - Level {{ player().lvl }}</span>
    </div>
  </div>
  <span class="moneyCounter">💰{{ player().money | interfaceDigits }}</span>
</hgroup>
<div class="stats">
  <label for="hp-stats">
    <span>HP</span>
    <span
      >{{ player().currentHp | interfaceDigits }}/{{
        player().characteristics.hp | interfaceDigits
      }}</span
    >
  </label>
  <progress
    id="hp-stats"
    [max]="player().characteristics.hp | interfaceDigits"
    [value]="player().currentHp | interfaceDigits"></progress>
  <label for="mp-stats">
    <span>MP</span>
    <span
      >{{ player().currentMp | interfaceDigits }}/{{
        player().characteristics.mana | interfaceDigits
      }}</span
    >
  </label>
  <progress
    id="mp-stats"
    [max]="player().characteristics.mana"
    [value]="player().currentMp"></progress>
  <label for="exp-stats">
    <span>EXP</span>
    <span>{{ player().currentXp | interfaceDigits }}/{{ nextLvXp(player().lvl) }}</span>
  </label>
  <progress
    id="exp-stats"
    [max]="player().lvl * 500"
    [value]="player().currentXp | interfaceDigits"></progress>
</div>
