<hgroup>
  <div>
    <h1>⚔️</h1>
    <div>
      <h3>ds</h3>
      <span>Warrior - Niveau 1</span>
    </div>
  </div>
  <span>💰50</span>
</hgroup>
<div class="stats">
  <label for="hp-stats">
    <span>HP</span>
    <span>120/120</span>
  </label>
  <progress id="hp-stats" max="120" value="120"></progress>
  <label for="mp-stats">
    <span>MP</span>
    <span>30/30</span>
  </label>
  <progress id="mp-stats" max="30" value="30"></progress>
  <label for="exp-stats">
    <span>EXP</span>
    <span>0/100</span>
  </label>
  <progress id="exp-stats" max="100" value="0"></progress>
</div>
