<div class="card {{ isPlayer() ? 'player' : 'enemy' }} ">
  <h4>
    {{ isPlayer() ? player().nickname : enemy().name }}
    @if (!isPlayer()) {
      <span class="enemyTag">{{ enemy().kind | titlecase }}</span>
    }
  </h4>
  <span>{{ isPlayer() ? player().icon : IconByRace[enemy().race] }}</span>
  <label for="health">
    <span>PV</span>
    <span>{{
      isPlayer()
        ? (player().currentHp | interfaceDigits) +
          '/' +
          (player().characteristics.hp | interfaceDigits)
        : (enemy().currentHp | interfaceDigits) +
          '/' +
          (enemy().characteristics.hp | interfaceDigits)
    }}</span>
  </label>
  <progress
    id="health"
    [max]="
      isPlayer()
        ? (player().characteristics.hp | interfaceDigits)
        : (enemy().characteristics.hp | interfaceDigits)
    "
    [value]="
      isPlayer() ? (player().currentHp | interfaceDigits) : (enemy().currentHp | interfaceDigits)
    "></progress>
  <label for="magic">
    <span>PM</span>
    <span>{{
      isPlayer()
        ? (player().currentMp | interfaceDigits) +
          '/' +
          (player().characteristics.mana | interfaceDigits)
        : (enemy().currentMp | interfaceDigits) +
          '/' +
          (enemy().characteristics.mana | interfaceDigits)
    }}</span>
  </label>
  <progress
    id="magic"
    [max]="
      isPlayer()
        ? (player().characteristics.mana | interfaceDigits)
        : (enemy().characteristics.mana | interfaceDigits)
    "
    [value]="
      isPlayer() ? (player().currentMp | interfaceDigits) : (enemy().currentMp | interfaceDigits)
    "></progress>
  <div>
    <span
      >DEF -
      {{
        isPlayer()
          ? (player().characteristics.def | interfaceDigits)
          : (enemy().characteristics.def | interfaceDigits)
      }}</span
    >
    <span
      >ATK -
      {{
        isPlayer()
          ? (player().characteristics.atk | interfaceDigits)
          : (enemy().characteristics.atk | interfaceDigits)
      }}</span
    >
    <span
      >SPD -
      {{
        isPlayer()
          ? (player().characteristics.speed | interfaceDigits)
          : (enemy().characteristics.speed | interfaceDigits)
      }}</span
    >
  </div>
</div>
