@use '../../../mixins' as m;
@use '../../../variables' as v;

.card {
  aspect-ratio: 5/3;
  width: auto;
  height: 180px;
  @include m.flex($justify: space-between);
  border-radius: v.$radiusMd;
  border: 1px solid hsl(0 0% 100% / 0.08);
  padding: 1rem;
  background-color: rgb(0 0 0 / 0.2);
  backdrop-filter: contrast(1.15) brightness(1.1) blur(44px);
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 0.2);

  &.enemy {
    background-color: rgb(64 0 0 / 0.2);

    .enemyTag {
      background-color: goldenrod;
      padding: 1px 3px;
      border-radius: 4px;
    }
  }

  &.player {
    background-color: rgb(0 64 0 / 0.2);
  }

  h4 {
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.025rem;
    margin-bottom: 0.5rem;
    width: 100%;

    & + span {
      font-size: 2.5rem;
    }
  }

  label {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  progress {
    width: 100%;
    overflow: hidden;
    border-radius: v.$radiusRound;
    border: 1px solid hsl(0 0% 100% / 0.08);

    &::-webkit-progress-bar {
      background-color: hsl(0 0% 0% / 0.66);
      padding: 2px;
    }

    &::-webkit-progress-value {
      background-color: #1db91d;
      border-radius: v.$radiusRound;
    }
  }
}
