<hgroup>
  <h2>🎒Inventory</h2>
  <button>Go Back</button>
</hgroup>
<section>
  <div>
    <hgroup>
      <h3>{{ playerStats.icon }} {{ playerStats.type | titlecase }}</h3>
      <p>{{ playerStats.nickname }} - Lv.{{ playerStats.lvl }}</p>
    </hgroup>
    <div>
      <span
        >⚔️Attack<i>{{ playerStats.characteristics.atk | interfaceDigits: 1 }}</i></span
      >
      <span
        >🛡️Defense<i>{{ playerStats.characteristics.def | interfaceDigits: 1 }}</i></span
      >
      <span
        >💨Speed<i>{{ playerStats.characteristics.speed | interfaceDigits: 1 }}</i></span
      >
      <span
        >❤️Max HP<i>{{ playerStats.characteristics.hp | interfaceDigits }}</i></span
      >
      <span
        >💙Max MP<i>{{ playerStats.characteristics.mana | interfaceDigits }}</i></span
      >
    </div>
    <span>💰{{ playerStats.money }} gold coins</span>
  </div>
  <div>
    <ul>
      <li class="selected">🎒All</li>
      @for (item of inventoryTypeFilter; track item) {
        <li>{{ IconByType[item] }} {{ item | titlecase }}</li>
      }
    </ul>
    <div>
      @for (item of bag; track item) {
        <div>
          <div>
            <span>{{ item.icon }}</span>
            <div>
              <h4>{{ item.name }}</h4>
              <span>{{ item.description }}</span>
              <p>
                <span>{{ item.rarity | titlecase }}</span> &times;{{ item.quantity }}
              </p>
            </div>
          </div>
          <button>🧪Use</button>
        </div>
      }
    </div>
  </div>
</section>
