@use '../../../mixins' as m;

:host {
  @include m.flex(column, $align: center, $gap: 2.5rem 0);
}

#features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  .feature-item {
    padding: 1rem;
    backdrop-filter: brightness(0.85);
    border-radius: 0.25rem;
    // opacity: 0.66;
    border: 1px solid rgb(255 255 255 / 0.08);
    font:
      normal 0.8rem/1 'Poppins',
      sans-serif;
  }
}
