@use '../../../mixins' as m;
@use '../../../variables' as v;

.homeScreen {
  @include m.flex(row, $justify: space-between);
  width: 100vw;
  height: 100vh;
  max-width: 1050px;
  margin-inline: auto;

  &__branding {
    aspect-ratio: 1;
    flex-basis: auto;
    width: 360px;
    height: auto;
    opacity: 0.8;
    animation: floating 5s ease-in-out 0s infinite;
  }

  &__menu {
    position: relative;
    @include m.flex($gap: 0.25rem 0);
    @include m.darkGlass;
    width: 100%;
    flex-basis: 50%;

    &__header {
      @include m.flex;
      text-shadow: 0 2px 8px rgb(0 0 0 / 0.4);
      margin-bottom: 1.5rem;

      &__title {
        white-space: nowrap;
      }

      &__subtitle {
        color: v.$headingSecondary;
        font: bold 1.25rem/0.33 v.$subtitleFontFamily;
        letter-spacing: 0.075rem;
      }
    }

    &__subContainer {
      @include m.flex($gap: 0.5rem);
      margin-top: 0.5rem;
      width: 100%;
    }
  }

  .featureGrid {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    &__item {
      padding: 1rem;
      background-color: hsl(0 0% 0% / 0.2);
      border-radius: v.$radiusSm;
      overflow: hidden;
      border: 1px solid rgb(255 255 255 / 0.1);
      box-shadow: inset 0 0 6px 0 rgb(0 0 0 / 0.2);
      font-size: 0.8rem;
    }
  }
}
