<main>
  <img class="titleContainer__branding" src="/logo.svg" alt />
  <div class="mainMenu">
    <hgroup class="titleContainer">
      <h1 class="titleContainer__title headingLv1">Tails of Angular</h1>
      <p class="titleContainer__subtitle">Play smart, win big</p>
    </hgroup>
    <button class="btnPrimary" routerLink="/create-character">New Adventure</button>
    @if (playerService.hasSavedPlayers) {
      <hr class="divider" />
      <span class="mainMenu__title">Load an Adventure</span>
      <div class="mainMenu__subContainer">
        @for (player of playerService.savedPlayers; track player.nickname) {
          <button class="btnUtility spaced" (click)="initGameWithSavedPlayer(player)">
            {{ player.icon }}{{ player.nickname }}
            <span>Lvl {{ player.lvl }}</span>
          </button>
        }
      </div>
    }
    <hr class="divider" />
    <div class="featureGrid">
      <span class="featureGrid__item">⚔️ Turn-based combat</span>
      <span class="featureGrid__item">🧙‍♀️ 3 playable guilds</span>
      <span class="featureGrid__item">🌳 3 exploration zones</span>
      <span class="featureGrid__item">🛍️ Inventory et shops</span>
    </div>
  </div>
</main>
