@use '../../../variables' as v;
@use '../../../mixins' as m;

:host {
  @include m.flex($align: normal, $gap: 1rem 0);
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
}

.title-2 {
  color: v.$HeadingSecondary;
  text-shadow: 0 2px 6px rgb(0 0 0 / 0.18);
}

.cardsContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  column-gap: 1rem;
}
