@use '../../../variables' as v;
@use '../../../mixins' as m;

:host {
  @include m.flex($gap: 1rem 0);
}

.cardsContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  column-gap: 1rem;
  padding-inline: 0.5rem;
}
