@let player = gameManager.currentPlayer();

<app-player-stats [player]="player" />

<hgroup>
  <h2>🗺️World Map</h2>
  <p>Choose a zone to fight to</p>
</hgroup>
<div class="container">
  <div class="pickerContainer">
    <button>
      <span>🌲</span>
      <div>
        <div>
          <h3>Shadow Forest</h3>
          <span>A mysterious forest inhabited by wild creatures.</span>
          <p><span style="--difficulty-level: #2bd22b">Easy</span> Wolves, Goblins, Trolls</p>
        </div>
      </div>
    </button>
    <button [disabled]="player.lvl < 3">
      <span>🏚️</span>
      <div>
        <div>
          <h3>Cursed Donjon</h3>
          <span>A dark donjon, home of living deads and black mages.</span>
          <p>
            <span style="--difficulty-level: #fbec5d">Average</span> Skeletons, Dark Mages, Lich
          </p>
        </div>
        @if (player.lvl < 3) {
          <span>🔒Niv.3</span>
        }
      </div>
    </button>
    <button [disabled]="player.lvl < 5">
      <span>🏔️</span>
      <div>
        <div>
          <h3>Chaos Mountain</h3>
          <span>Dangerous mountain inhabited by legendary creatures.</span>
          <p><span style="--difficulty-level: #cd5c5c">Hard</span> Harpy, Golems, Dragon</p>
        </div>
        @if (player.lvl < 5) {
          <span>🔒Niv.5</span>
        }
      </div>
    </button>
  </div>
  <span>
    <button>🏰Go back to the city</button>
    <button>🎒Inventory</button>
  </span>
</div>
