@use '../../../../variables' as v;
@use '../../../../mixins' as m;

:host {
  @include m.flex($align: normal, $gap: 1rem 0);
}

hgroup {
  width: 100%;
  text-align: center;

  h2 {
    color: v.$headingSecondary;
    font:
      700 2rem / 1.5 'Skranji',
      system-ui;
  }

  p {
    opacity: 0.75;
  }
}

.container {
  @include m.flex($align: flex-start, $gap: 1rem 0);

  .pickerContainer {
    @include m.flex($gap: 0.5rem 0);
    width: 100%;
  }
}

.actions {
  margin-top: 1.5rem;
  @include m.flex(row, $justify: center, $gap: 0 0.5rem);
  width: 100%;
}
