// Imports
@use 'sass:color';

$accentColor: #ac1e44;

// Colours
$backgroundPrimary: #301934;
$backgroundSecondary: #66023c;

$headingPrimary: #dc143c;
$headingSecondary: #ff91a4;

$interactBorder: 2px solid hsl(0 0% 0% / 0.2);

$moneyColor: #cba135;

$radiusXS: 0.125rem;
$radiusSm: 0.25rem;
$radiusMd: 0.5rem;
$radiusLg: 1rem;
$radiusXL: 2rem;
$radiusRound: 100em;

$fontDefault:
  normal 1rem/1 'Poppins',
  sans-serif;
$fontBody:
  normal 0.9rem/1 'Poppins',
  sans-serif;

$titleFontFamily: 'Skranji', system-ui;
$subtitleFontFamily: 'Overlock SC', sans-serif;
