@use 'reset.css';
@use 'normalize.css';
@use 'variables' as v;
@use 'mixins' as m;
@use 'keyframes' as k;

html {
  color-scheme: dark;
}

body {
  @include m.flex($justify: center);
  text-align: center;
  background-color: v.$backgroundPrimary;

  .backgroundContainer {
    pointer-events: none;
    position: fixed;
    inset: 0;
    opacity: 0.8;
    animation: rotate 30s linear 0s infinite forwards normal;
    filter: blur(60px);
    z-index: -1;

    &__shape {
      // mix-blend-mode: color-dodge;
      position: absolute;
      aspect-ratio: 1;
      width: var(--base-width, 550px);
      height: auto;
      background-color: v.$backgroundSecondary;
      border-radius: 50%;

      &:first-child {
        --base-width: 550px;

        top: -33%;
        left: -15%;
        @include k.grow(var(--base-width), 6.66s, 500ms);
      }

      &:nth-child(2) {
        --base-width: 320px;

        top: -10%;
        right: -5%;
        @include k.grow(var(--base-width), 3.33s);
      }

      &:last-child {
        --base-width: 1200px;

        bottom: -80%;
        left: 50%;
        @include k.grow(var(--base-width), 12.5s, 1.5s);
      }
    }
  }

  .titleContainer {
    @include m.flex;
    text-shadow: 0 4px 6px rgb(0 0 0 / 0.5);

    &__title {
      color: v.$HeadingPrimary;
    }

    &__branding {
      aspect-ratio: 1;
      width: 256px;
      height: auto;

      &--floating {
        animation: floating 5s ease-in-out 0s infinite;
      }
    }

    &__subtitle {
      color: color-mix(in srgb, #fff 50%, v.$HeadingPrimary);
      font:
        normal 1.15rem/1 'Metamorphous',
        serif;
    }
  }
}

.title-1 {
  font:
    700 3.33rem/1 'Skranji',
    system-ui;
  margin-block: 1rem;
}

.title-2 {
  font:
    700 2.25rem/1.5 'Skranji',
    system-ui;
}

.title-3 {
  font-weight: 600;
  letter-spacing: 0.025rem;

  &--label {
    font-size: 1.25rem;
    width: fit-content;
  }
}

.interactBtn {
  position: relative;
  padding-block: 1.33rem;
  font: v.$fontDefault;
  letter-spacing: 0.02rem;
  border-radius: v.$radiusMd;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 0.5);
  overflow: hidden;
  transition: 250ms ease 0s;
  transition-property: background, transform, box-shadow;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    transform: translateY(-50%) rotate(-45deg);
    top: 50%;
    left: 100%;
    height: calc(100% + 2rem);
    width: 196px;
    background-color: rgb(255 255 255 / 0.5);
    mix-blend-mode: soft-light;
    z-index: -1;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 8px 0 rgb(0 0 0 / 0.25);
    transition-delay: 120ms;

    &::before {
      left: -12rem;
      transition: left 350ms ease-in;
    }
  }

  &--primary {
    background-color: v.$InteractionPrimary;

    &:hover {
      background-color: v.$InteractionSecondary;
    }
  }
}

.fieldContainer {
  @include m.flex($align: flex-start, $gap: 0.5rem 0);

  &__label {
    position: relative;
    font-size: 0.875rem;
    color: hsl(0, 0%, 80%);
    left: 0;
  }

  &__field {
    padding: 0.85rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: v.$radiusMd;
    background: unset;
    backdrop-filter: brightness(0.8) blur(44px);
    border: 2px solid rgb(255 255 255 / 0.08);
    transition: border 150ms linear;
    text-align: center;

    &:focus,
    &:focus-within {
      border-color: v.$InteractionPrimary;
    }
  }
}

.interactContainer {
  position: relative;
  background: unset;
  height: 100%;
}
