header {
  position: fixed;
  width: 100vw;
  padding-inline: 3rem;
  top: 0;
  left: 0;
  background-color: hsl(0 0% 0% / 0.2);
  backdrop-filter: blur(44px);
  border-bottom: 1px solid hsl(0 0% 100% / 0.08);
}
